@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: bolder;
}

li {
    list-style: none;
}

.gradient-custom {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(72, 198, 239, 1), rgba(111, 134, 214, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(72, 198, 239, 1), rgba(111, 134, 214, 1))
}